
@{
    ViewBag.Title = "FeedbackResponse";
    Layout = "~/Views/Employee/_Layout - Feedback.cshtml";
}

<script type="text/javascript">
    setTimeout("CallButton()", 5000)
    function CallButton() {
        document.getElementById("button").click();
    }
</script>
<style>
    input{
        opacity:0
    }
</style>
<div style="text-align:center">
    <br />
    <br />
    <img src="~/Images/tick1.gif" />
    <h1>
        Thank You!
    </h1>
    <h4>
        Your submission has been received.
    </h4>
</div>



<a href="~/Employee/EmployeeDashboard">
    <input type="button" id="button" value="try">
</a>
